:root {
    /* typography */
    --ff-heading: "Oswald", sans-serif;
    --ff-body: "Inter", sans-serif;

    --text-7: 3.815rem;
    --text-6: 3.052rem;
    --text-5: 2.441rem;
    --text-4: 1.953rem;
    --text-3: 1.563rem;
    --text-2: 1.25rem;
    --text-1: 1rem;
    --text-0: 0.8rem;

    /* color palette */
    --blue-0: #e7f5ff;
    --blue-1: #d0ebff;
    --blue-3: #74c0fc;
    --blue-5: #339af0;
    --blue-7: #1c7ed6;
    --blue-9: #1864ab;

    --gray-0: #f8f9fa;
    --gray-1: #f1f3f5;
    --gray-3: #dee2e6;
    --gray-5: #adb5bd;
    --gray-7: #495057;
    --gray-9: #212529;

    --white: #fff;
    --black: #000;

    /* border radius */
    --border-0: 4px;
    --border-1: 8px;
    --border-2: 16px;
    --border-3: 32px;
}

.about-us-section {
    display: flex;
    justify-content: center;
}

.about-us {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-us__text-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.about-us__headline {
    font-size: var(--text-4);

    @media (width < 640px) {
        font-size: var(--text-3);
    }
}

.about-us__text {
    font-size: var(--text-2);

    @media (width < 640px) {
        font-size: var(--text-1);
    }
}

.hero {
    width: 100%;
    height: 400px;
    background-image: url("../assets/images/beach-3.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media (width < 1024px) {
        height: 450px;
    }
}

.hero__content {
    text-align: center;
    color: var(--white);
}

.hero__main-headline {
    font-size: var(--text-7);

    @media (width < 1024px) {
        font-size: var(--text-6);
    }

    @media (width < 640px) {
        font-size: var(--text-5);
    }
}

.hero__sub-headline {
    font-size: var(--text-3);

    @media (width < 1024px) {
        font-size: var(--text-2);
    }

    @media (width < 640px) {
        font-size: var(--text-1);
    }
}

.hero > * {
    z-index: 20;
}
