:root {
    /* typography */
    --ff-heading: "Oswald", sans-serif;
    --ff-body: "Inter", sans-serif;

    --text-7: 3.815rem;
    --text-6: 3.052rem;
    --text-5: 2.441rem;
    --text-4: 1.953rem;
    --text-3: 1.563rem;
    --text-2: 1.25rem;
    --text-1: 1rem;
    --text-0: 0.8rem;

    /* color palette */
    --blue-0: #e7f5ff;
    --blue-1: #d0ebff;
    --blue-3: #74c0fc;
    --blue-5: #339af0;
    --blue-7: #1c7ed6;
    --blue-9: #1864ab;

    --gray-0: #f8f9fa;
    --gray-1: #f1f3f5;
    --gray-3: #dee2e6;
    --gray-5: #adb5bd;
    --gray-7: #495057;
    --gray-9: #212529;

    --white: #fff;
    --black: #000;

    /* border radius */
    --border-0: 4px;
    --border-1: 8px;
    --border-2: 16px;
    --border-3: 32px;
}
.detail-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rating-container{
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    p{
        font-size: var(--text-0);
    }
}
.detail-section__title-container{
    margin: 0.5rem 0;
    h2{
        font-size: var(--text-4);
    }
}
.detail-section__picture-container{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:0.5rem;
    :first-child{
        grid-column: 1/3;
        grid-row: 1/3;
        border-top-left-radius: var(--border-2);
        border-bottom-left-radius: var(--border-2);
    }
    :nth-child(2){
        border-top-right-radius: var(--border-2);
    }
    :last-child{
        border-bottom-right-radius: var(--border-2);
    }
    img{
        width: 100%;
        aspect-ratio: 1/1;
    }
}
.detail-section__content-container{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:1rem;
}
.content-container__descriptions-container{
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.description-container__paragraph-container, .description-container__li-container{
    font-size: var(--text-1);
    color: var(--gray-7);
}
.description-container{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.description-container__li-container{
    list-style:circle inside;
}
.comment-container{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap:0.5rem;
}
.comment{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-5);
    border-radius: var(--border-2);
    padding: 20px 8px;
    gap:0.5rem;
    aspect-ratio: 4/3;
}
.comment__profile-container{
    display: flex;
    justify-content: flex-start;
    gap:0.5rem;
    align-items: center;
    img{
        width: 40px;
        border: 2px solid black;
        border-radius: 50%;
        aspect-ratio: 1/1;
    }
}
.comment__date{
    font-size: var(--text-0);
}
.comment__content{
    font-size: var(--text-1);
    color:var(--gray-7)
}
.content-container__booking{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}
.booking-container{
    position: sticky;
    top:0px;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-3);
    padding:30px 15px;
    border-radius: var(--border-2);
    gap:1rem;
}
.booking-price-container{
    p{
        color:var(--gray-7)
    }
}
.booking-btn{
    background-color: var(--blue-5);
    border-radius: var(--border-2);
    padding:10px 5px;
}
.booking-info{
    p{
        font-size: var(--text-0);
        color:var(--gray-7);
        span{
            text-decoration: underline;
            color: var(--gray-9);
        }
    }
}