/* 
    this file is for shared styles and components 
    across all pages. must be conclude in all html files
 */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap");

:root {
    /* typography */
    --ff-heading: "Oswald", sans-serif;
    --ff-body: "Inter", sans-serif;

    --text-7: 3.815rem;
    --text-6: 3.052rem;
    --text-5: 2.441rem;
    --text-4: 1.953rem;
    --text-3: 1.563rem;
    --text-2: 1.25rem;
    --text-1: 1rem;
    --text-0: 0.8rem;

    /* color palette */
    --blue-0: #e7f5ff;
    --blue-1: #d0ebff;
    --blue-3: #74c0fc;
    --blue-5: #339af0;
    --blue-7: #1c7ed6;
    --blue-9: #1864ab;

    --gray-0: #f8f9fa;
    --gray-1: #f1f3f5;
    --gray-3: #dee2e6;
    --gray-5: #adb5bd;
    --gray-7: #495057;
    --gray-9: #212529;

    --white: #fff;
    --black: #000;

    /* border radius */
    --border-0: 4px;
    --border-1: 8px;
    --border-2: 16px;
    --border-3: 32px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--ff-body);
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-heading);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

button {
    font-family: inherit;
    cursor: pointer;
}

.wrapper {
    width: 100%;
    max-width: 1280px;
    padding-inline: 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
}

.header__hamburger-menu {
    height: 100%;
    display: none;
    border: none;
    background-color: transparent;
}

.logo {
    font-size: var(--text-4);
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav__left-container {
    display: flex;
    gap: 1rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__close-btn {
    display: none;
    border: none;
    background-color: transparent;
    justify-self: flex-end;
}

.nav__close-btn svg:hover {
    path {
        fill: var(--gray-7);
    }
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    font-family: var(--ff-heading);
    font-size: var(--text-1);
}

.nav__item:hover {
    background-color: var(--blue-0);
}

.acc {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

.nav__item,
.acc__sign-in,
.acc__sign-up {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: var(--border-3);
}

.acc__sign-in,
.acc__sign-up {
    border: none;
    font-size: var(--text-2);
    font-family: var(--ff-heading);
}

.acc__sign-in {
    background-color: var(--white);
}

.acc__sign-in:hover {
    background-color: var(--blue-0);
}

.acc__sign-up {
    background-color: var(--blue-5);
    color: var(--white);
}

.acc__sign-up:hover {
    background-color: var(--blue-3);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
    background-color: var(--gray-0);
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer__section-container {
    display: flex;
    gap: 4rem;
}

.footer__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer__section-title {
    font-size: var(--text-1);
    font-weight: normal;
}

.footer__item,
.footer__copyright {
    font-size: var(--text-0);
}

.footer__item:hover {
    text-decoration: underline;
}

.pt-96 {
    padding-block-start: 96px;
}

.pb-96 {
    padding-block-end: 96px;
}

.card-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-section__title {
    margin-bottom: 0.5rem;
}

.card-list {
    /* --columns: 1; */
    display: grid;
    /* grid-template-columns: repeat(var(--columns), 1fr); */
    grid-auto-flow: column;
    grid-auto-columns: minmax(200px, 300px);
    gap: 1rem;

    /* @media (width > 640px) {
        --columns: 2;
    }

    @media (width > 1024px) {
        --columns: 4;
    } */
}

.media-scroller {
    overflow-x: auto;
    overscroll-behavior-inline: contain;

    scroll-snap-type: inline mandatory;
}

.media-scroller > * {
    scroll-snap-align: start;
}

.overlay-blue {
    position: relative;
}

.overlay-blue::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
        to right,
        rgba(0, 0, 100, 0.4),
        rgba(0, 0, 100, 0.2)
    );
    z-index: 10;
}

.overlay-gray {
    position: relative;
    border-radius: var(--border-1);
    overflow: hidden;
    height: 100%;
}

.overlay-gray::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;

    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 25%,
        rgba(0, 0, 0, 0.3) 25%,
        rgba(0, 0, 0, 0) 28%,
        rgba(0, 0, 0, 0) 100%
    );
    z-index: 10;
}

.card1 {
    position: relative;
}

.card1__img {
    border-radius: var(--border-1);
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card1__title {
    font-size: var(--text-4);
    position: absolute;
    bottom: 8px;
    left: 16px;
    z-index: 10;
    color: var(--white);
}

.card2 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card2__img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-1);
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card2__title {
    font-size: var(--text-1);
    font-weight: normal;
}

.card2__description {
    font-size: var(--text-0);
}

.card2__description-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card2__rating,
.card2__rating-num {
    font-size: var(--text-0);
}

.card3 {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1.5;
}

.card3__description-container {
    position: absolute;
    z-index: 10;
    bottom: 8px;
    left: 16px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card3__title,
.card3__visited {
    color: var(--white);
}

.card3__title {
    font-size: var(--text-1);
}

.card3__visited {
    font-size: var(--text-0);
}

.card3__img {
    border-radius: var(--border-1);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.star-list {
    display: flex;
    align-items: center;
}

.star {
    width: 16px;
    height: 16px;

    path {
        fill: var(--blue-5);
    }
}

.star--empty {
    path {
        fill: var(--blue-0);
    }
}

@media (width < 1024px) {
    .header__hamburger-menu {
        display: block;
    }

    .nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        height: 100%;
        width: 40%;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
        justify-content: flex-start;
        padding-block-start: 1rem;
        padding-inline-start: 1rem;
        padding-inline-end: 3rem;
        background-color: var(--gray-1);
    }

    .nav--open {
        display: block;
    }

    .nav__close-btn {
        display: block;
    }

    .nav__list {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .nav__item {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .footer__section-title {
        font-size: var(--text-2);
    }

    .footer__section-container {
        flex-direction: column;
        gap: 0.5rem;
    }

    .footer__section {
        border-bottom: 1px solid var(--gray-5);
        padding-bottom: 0.5rem;
    }
}
