:root {
    /* typography */
    --ff-heading: "Oswald", sans-serif;
    --ff-body: "Inter", sans-serif;

    --text-7: 3.815rem;
    --text-6: 3.052rem;
    --text-5: 2.441rem;
    --text-4: 1.953rem;
    --text-3: 1.563rem;
    --text-2: 1.25rem;
    --text-1: 1rem;
    --text-0: 0.8rem;

    /* color palette */
    --blue-0: #e7f5ff;
    --blue-1: #d0ebff;
    --blue-3: #74c0fc;
    --blue-5: #339af0;
    --blue-7: #1c7ed6;
    --blue-9: #1864ab;

    --gray-0: #f8f9fa;
    --gray-1: #f1f3f5;
    --gray-3: #dee2e6;
    --gray-5: #adb5bd;
    --gray-7: #495057;
    --gray-9: #212529;

    --green-5: #22c55e;
    --yellow-5: #f59e0b;

    --white: #fff;
    --black: #000;

    /* border radius */
    --border-0: 4px;
    --border-1: 8px;
    --border-2: 16px;
    --border-3: 32px;
}
.boat-section,
.plane-section {
    display: flex;
    justify-content: center;
}